@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@keyframes marquee-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-33.333%);
  }
}

@keyframes marquee-right {
  from {
    transform: translateX(-33.333%);
  }

  to {
    transform: translateX(0);
  }
}

.animate-marquee-left {
  animation: marquee-left 60s linear infinite;
}

.animate-marquee-right {
  animation: marquee-right 30s linear infinite;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #171717;
  color: #ededed;
}

html.dark body {
  background: #0a0a0a;
  color: #ededed;
}

.inner {
  max-width: 1820px;
  margin: 0 auto;
}